{
  "version" : "2018-05-29",
  "operation" : "UpdateItem",
  "key": {
    "id" : $util.dynamodb.toDynamoDBJson($ctx.identity.claims["custom:serviceArea"])
  },
  "update" : {
    "expression" : "SET #name = :name",
    "expressionNames" : {
      "#name" : "name"
    },
    "expressionValues" : {
      ":name" : $util.dynamodb.toDynamoDBJson($ctx.arguments.name)
    }
  }
}
